HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
/.mvn
/.settings
/.classpath
/.project
*.log
/.env
/.DS_Store
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
/.idea
*.iws
*.iml
*.ipr